<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.learn.mapper.UserMapper">

    <select id="login"  parameterType="com.learn.entity.UserEntity"  resultType="com.learn.entity.UserEntity">
        select * from user_info where userName = #{userName} and password=#{password}
    </select>
</mapper>
